.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s;
  overflow: hidden;
  z-index: 1000;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-logo {
  width: 80%;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
  color: black;
}

li:hover {
  background-color: #41B9A0;
  color: white;
}

li.active {
  background: linear-gradient(90deg, #3949ab 0%, #41B9A0 65%);
  color: white;
}

li span {
  margin-left: 10px;
  white-space: nowrap;
}

li svg {
  color: inherit;
}